@page
@model IndexModel
@{
    ViewData["Title"] = "Gerador de QR Code";
}

<main>
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div class="text-center">
        <label>Digite o site para gerar o QR Code:</label>
        <input class="form-control"/>
        <p></p>
        <input type="submit" value="Gerar QR Code" class="btn btn-primary"/> 
    </div>
    <div class="text-center">
        <img src="https://localhost:7193/qr-code?url=https://www.google.com.br/" alt=""></img>
    </div>
</main>
